{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pokemon/poke-detail.css' %}" />
{% endblock %} {% block content %}

<section class="card-container">
  <div class="pokemon-card">
    <div class="pokemon-img-container">
      <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}" />
    </div>
    <h2 class="pokemon-name">{{ pokemon.name }}</h2>
    <p><strong>Nickname:</strong> {{ pokemon.nickname }}</p>
    <p><strong>Experience:</strong> {{ pokemon.xp }}</p>
    <p><strong>Type:</strong> {{ pokemon.type }}</p>
    <p><strong>Abilities:</strong> {{ pokemon.abilities }}</p>
  </div>
</section>

<div class="feedings-item-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      {% comment %} <img src="{% static 'images/pokemon-cone.svg' %}" alt="" />
      <img src="' %}" alt="" />
      <img src="" alt="" /> {% endcomment %}
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-feeding' pokemon.poke_id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
        </tr>
      </thead>
      <tbody>
        {% if pokemon %}
        <tr>
          <td colspan="2">Pokemon: {{ pokemon.name }}</td>
        </tr>
        {% for feeding in pokemon.feeding_set.all %}
        <tr>
          <td>{{ feeding.date }}</td>
          <td>{{ feeding.get_meal_display }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No feedings available.</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="2">No pokemon available.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
  <section class="items">
    {% comment %}
    <div class="subsection-title">
      {% endcomment %}
      <h2>Items</h2>
      {% comment %}
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy item" /> {%
      endcomment %} {% comment %}
    </div>
    {% endcomment %}
    <h1>{{ pokemon.name }}'s Items</h1>
    <div class="subsection-content">
      {% if pokemon.items.count %} {% for item in pokemon.items.all %}
      <div class="item-container">
        {% comment %}
        <div
          class="color-block"
          style="background-color: {{ item.color }}"
        ></div>
        {% endcomment %}
        <a href="{% url 'item-detail' item.id %}">
          <p>{{ item.name }}</p>
        </a>
        <form
          action="{% url 'remove-item' pokemon.poke_id item.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Remove Item</button>
        </form>
      </div>
      {% endfor %} {% else %}
      <p class="no-items">{{pokemon.name}} doesn't have any items!</p>
      {% endif %}
    </div>
    <h2>Available Items</h2>
    <div class="subsection-content">
      {% if items.count %} {% for item in items.all %}
      <div class="item-container">
        {% comment %}
        <div
          class="color-block"
          style="background-color: {{ item.color }}"
        ></div>
        {% endcomment %}
        <a href="{% url 'item-detail' item.id %}">
          <p>A {{ item.color }} {{ item.name }}</p>
        </a>
        <form
          action="{% url 'assoc-item' pokemon.poke_id item.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn submit">Give item</button>
        </form>
      </div>
      {% endfor %} {% else %}
      <p class="all-items">
        {{pokemon.poke_id}} already has all the available items 🥳
      </p>
      {% endif %}
    </div>

    {% endblock %}
  </section>
</div>