{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pokemon/poke-detail.css' %}" />
{% endblock %} {% block content %}

<section class="pokemon-detail">
  <div class="pokemon-card">
      <div class="pokemon-img-container">
          <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
      </div>
      <h2 class="pokemon-name">{{ pokemon.name }}</h2>
      <p><strong>Experience:</strong> {{ pokemon.xp }}</p>
      <p><strong>Type:</strong> {{ pokemon.type }}</p>
      <p><strong>Abilities:</strong> {{ pokemon.abilities }}</p>
      <p><strong>Moves:</strong> {{ moves }}</p>
  </div>
</section>

{% endblock %}