.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pokemon-card {
  background: #ffffff;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.pokemon-img-container {
  margin-bottom: 15px;
}

.pokemon-img-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.pokemon-name {
  font-size: 3.5rem;
  color: #ffcc00;
  text-transform: uppercase;
  margin: 10px 0;
}

strong {
  color: #ff5733;
}

p {
  margin: 5px 0;
  color: #333;
  margin-bottom: 1vmin;
  font-size: 14px;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}
