{% extends 'base.html' %} 
{% block content %}
<h1>About the Pokemon Collector</h1>
<hr />
<p class="page-content">
  The Pokemon Collector is a site where you can view and collect Pokemon. You can view all the Pokemon we have in our database by clicking on the "All Pokemon" link in the navigation bar. You can also view more information about the Pokemon by clicking on the Pokemon's name. If you would like to add a Pokemon to your collection, you can do so by clicking on the "Add to Collection" button on the Pokemon's page. You can view all the Pokemon in your collection by clicking on the "My Collection" link in the navigation bar.
</p>
{% endblock %}